@import url("https://fonts.googleapis.com/css2?family=Lora&family=Montserrat:wght@500;600;900&display=swap");

@mixin hero-heading {
  font-family: "Montserrat";
  font-size: 4rem;
  color: #ffffff;
  font-weight: 900;
  margin: 0;
}

@mixin hero-subheading {
  font-family: "Montserrat";
  font-size: 2rem;
  color: #ffffff;
  font-weight: 500;
  margin: 0;
}

@mixin subheading {
  font-family: "Montserrat";
  font-size: 1.5rem;
  font-weight: 600;
}

@mixin copy-white {
  font-family: "Lora";
  font-size: 1.25rem;
  color: #ffffff;
}

@mixin copy-black {
  font-family: "Lora";
  font-size: 1.25rem;
  line-height: 1.875rem;
  color: #000;
}

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  background: #f5efe8;
}

header {
  background-image: url("/images/water.jpg");
  box-shadow: inset 0 0 0 2000px rgba(0, 0, 0, 0.5);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  height: 45rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-end;
  padding-bottom: 1rem;
  grid-column: span 2;
  h1 {
    @include hero-heading();
    font-size: 10rem;
  }
  h2 {
    @include hero-subheading();
    font-size: 3rem;
    margin-bottom: 1rem;
  }
}

h3 {
  @include subheading();
}

p {
  @include copy-black();
}

.intro {
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.summary {
  margin-top: 3rem;
  grid-column: span 2;
  text-align: center;
}

.preamble {
  grid-column: span 2;
  text-align: center;
  padding: 0 4rem;
  margin-bottom: 4rem;
}

.supporting {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 4rem;
  .explanation {
    background: #d8c4b5;
    border: 3px solid #203555;
    padding: 2rem;
  }
}

.participation {
  background: #d8c4b5;
  border: 3px solid #203555;
  padding: 2rem;
}

.benefits {
  padding: 3rem;
}

.requirements {
  padding: 3rem;
}

footer {
  background: #d8c4b5;
  grid-column: span 2;
  padding: 5rem;
  display: flex;
  justify-content: space-between;
  border-top: 10px solid #203555;
  border-bottom: 10px solid #203555;
  a {
    text-decoration: none;
    @include copy-white();
    font-size: 2rem;
    color: #203555;
    font-weight: bold;
  }
}

.wrapper .design-selection {
  background-image: url("/images/plant.jpg");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  height: 50rem;
}

.design-selection {
  h3 {
    text-align: center;
    margin: 0;
    @include subheading();
    padding: 100px 0 00;
  }
}

.wrapper {
  background-color: #203555;
}

.design-selection {
  nav {
    ul {
      padding: 0;
      width: 75%;
      margin: 3rem auto 0;
      display: grid;
      gap: 25px;
      grid-template-columns: repeat(4, 1fr);
      text-align: center;
      li {
        list-style: none;
        padding: 5rem;
        background: #5c8984;
        color: #ffffff;
        font-size: 1.5rem;
        a {
          text-decoration: none;
          color: #ffffff;
        }
      }
    }
  }
}

.design-archives,
.zen-resources {
  h3 {
    color: #ffffff;
    margin: 0;
  }
  ul {
    margin: 0;
    li {
      list-style: none;
      a {
        text-decoration: none;
        @include copy-white();
      }
    }
  }
}

.design-archives {
  padding: 5rem 0 0 5rem;
  nav {
    padding-top: 1rem;
  }
}

.zen-resources {
  padding: 5rem 0 5rem 5rem;
  ul {
    padding-top: 1rem;
  }
}

//TABLET

@media (max-width: 1024px) {
  p {
    font-size: 1rem;
  }

  header {
    h1 {
      font-size: 4rem;
    }
  }

  .summary {
    width: 90%;
    margin: 0 auto;
  }

  .supporting {
    .benefits,
    .requirements {
      grid-column-start: 1;
      grid-column-end: 3;
      padding: 0 2rem;
    }
  }

  .design-selection {
    nav {
      ul {
        margin: 1.5rem auto 0;
        display: grid;
        gap: 15px;
        grid-template-columns: repeat(2, 1fr);
        li {
          list-style: none;
          padding: 2rem;
          background: #5c8984;
          color: #ffffff;
          font-size: 1.5rem;
          a {
            text-decoration: none;
            color: #ffffff;
          }
        }
      }
    }
  }
}

//MOBILE

@media (max-width: 480px) {
  header {
    height: 25rem;
    h1 {
      font-size: 3rem;
    }
    h2 {
      font-size: 2rem;
    }
  }

  .preamble {
    padding: 0;
    width: 90%;
    margin: 0 auto 5rem;
  }

  .supporting {
    .explanation,
    .participation {
      grid-column-start: 1;
      grid-column-end: 3;
    }
  }

  .supporting {
    .benefits,
    .requirements {
      padding: 0 2rem;
    }
  }

  .design-selection {
    nav {
      ul {
        grid-template-columns: 1fr;
      }
    }
  }

  .wrapper .design-selection {
    height: 75rem;
  }

  footer {
    flex-direction: column;
    text-align: center;
    padding: 1rem;
    a {
      padding: 1rem;
    }
  }
}
